#highScoresList {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }
  
  .high-score {
    font-size: 2rem;
    padding: 2rem;
    width: 160px;
    height: 60px;
    border: 1px solid #56a5eb;
    background-color: white;
    color: #56a5eb;
    display: flex;
    justify-content: center;
  }

  .main-box{
    display: flex;
    flex-direction: row;
  }
  .name{
    width:300px
  }